<template name="Header">
  <img style="max-height: 300px" class="ui fluid image" src="../images/banner.png">
  <div style="margin: 0px; border-radius: 0px" class="ui borderless inverted menu">
  <div class="ui container">
      <a class="item" href="{{pathFor 'Home_Page'}}"><h1>Is The Gym Crowded?</h1></a>
    <a class="{{ isActiveRoute 'Gym_Hours_Page'}} item" href="{{ pathFor 'Gym_Hours_Page' }}">UH Gym Hours </a>
    <a class="{{ isActiveRoute 'Machines_Open_Page'}} item" href="{{ pathFor 'Machines_Open_Page' }}">What's Available? </a>
    {{#if currentUser}}
    <a class="{{ isActiveRoute 'Add_Schedule_Page'}} item" href="{{ pathFor 'Add_Schedule_Page' }}">Add Schedule </a>
    <a class="{{ isActiveRoute 'Log_Page'}} item" href="{{ pathFor 'Log_Page' }}">Fitness Log </a>
    <a class="{{ isActiveRoute 'Workout_Schedule_Page'}} item" href="{{ pathFor 'Workout_Schedule_Page' }}">Workout Schedule </a>
    {{/if}}
      <a href="#" class="right aligned item">{{> loginButtons align="right"}} </a>
    </div>
  </div>
</template>